<div class="jumbotron">
  <h1>Your Electricity bill history</h1>
  <h4>Cleanergy appreciates your continuous collaboration </h2>
</div>

<div align="center">
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Meter number</th>
      <th>Meter image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billings.each do |billing| %>
      <tr>
        <td><%= billing.meter_number %></td>
        <td>
          <%= billing.pic
            #RTesseract.new("uploads/billing/pic/").to_s
          %>
        </td>
        <td><%= link_to 'Show', billing %></td>
        <td><%= link_to 'Edit', edit_billing_path(billing) %></td>
        <td><%= link_to 'Destroy', billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Billing', new_billing_path %>
